# Diabetes Dataset
This dataset was used in https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf
by Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani, in Annals of Statistics (2004).

As part of the activities in _MCZA015 - 13_ in Universidade Federal do ABC(UFABC) in 2019.

Some general ideas to approach the problem:

   - linear regression
   - 30% teste - NO DATA LEAKAGE PLS
   - START WITH ONE PREDICTOR PER MODEL
   - y relation to prediction is linear? necessary to add polynomial features?
   - try to add more atributes to model
   - use CV to compare different models
   - Try fitting model without and with RIDGE
   - check for corr between atributes to look for colinearity
   - do models suffer degradation for test?
   - is test and train cv ordering of models similar?

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("diabetes.csv")
print(df.columns)

Index(['age', 'sex', 'bmi', 'map', 'tc ', 'ldl', 'hdl', 'tch', 'ltg', 'glu',
       'y'],
      dtype='object')

In [3]:
df.head()

   age  sex   bmi    map  tc     ldl   hdl  tch     ltg  glu    y
0   59    2  32.1  101.0  157   93.2  38.0  4.0  4.8598   87  151
1   48    1  21.6   87.0  183  103.2  70.0  3.0  3.8918   69   75
2   72    2  30.5   93.0  156   93.6  41.0  4.0  4.6728   85  141
3   24    1  25.3   84.0  198  131.4  40.0  5.0  4.8903   89  206
4   50    1  23.0  101.0  192  125.4  52.0  4.0  4.2905   80  135

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
age    442 non-null int64
sex    442 non-null int64
bmi    442 non-null float64
map    442 non-null float64
tc     442 non-null int64
ldl    442 non-null float64
hdl    442 non-null float64
tch    442 non-null float64
ltg    442 non-null float64
glu    442 non-null int64
y      442 non-null int64
dtypes: float64(6), int64(5)
memory usage: 38.1 KB

In [5]:
df.describe()

,age,sex,bmi,map,tc,ldl,hdl,tch,ltg,glu,y
count,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000
mean,48.518100,1.468326,26.375792,94.647014,189.140271,115.439140,49.788462,4.070249,545.984142,91.260181,152.133484
std,13.109028,0.499561,4.418122,13.831283,34.608052,30.413081,12.934202,1.290450,1526.681506,11.496335,77.093005
min,19.000000,1.000000,18.000000,62.000000,97.000000,41.600000,22.000000,2.000000,3.258100,58.000000,25.000000
25%,38.250000,1.000000,23.200000,84.000000,164.250000,96.050000,40.250000,3.000000,4.290500,83.250000,87.000000
50%,50.000000,1.000000,25.700000,93.000000,186.000000,113.000000,48.000000,4.000000,4.695900,91.000000,140.500000
75%,59.000000,2.000000,29.275000,105.000000,209.750000,134.500000,57.750000,5.000000,5.141700,98.000000,211.500000
max,79.000000,2.000000,42.200000,133.000000,301.000000,242.400000,99.000000,9.090000,6107.000000,124.000000,346.000000

A dataset that at first glance is clean and presents no null values.
Atributes such as 'age', 'bmi', 'map' seem adequate.
'Sex' shows by the mean that there are more of sex '1'.

'y' represents how critical is each patient's case. lower: better, higher: worse.